<!-- <div class="row" appHighlight [highlightColor]="'#DEF'"> -->
<div class="row" appHighlight="#DEF" (appHighlightChange)="handleHighlightChange($event)">
    <div class="col-4">
        <img alt="product-image" [src]="product.imageUrl" class="img-fluid" />
    </div>
    <div class="col-8">
        <div>{{product.name | uppercase}} - <small>{{product.makeDate|date:'yyyy'}}</small> </div>
        <div>{{product.price | discount:product.discount | currency:'INR':'symbol' }}</div>
        <button (click)="handleBuy($event)" [disabled]="!product.isBuyable" class="btn btn-primary">Buy</button>
        <br />
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a (click)="handleTabChange($event,1)" [ngClass]="{'nav-link':true,active:isTabSelected(1)}"
                    href="#">Description</a>
            </li>
            <li class="nav-item">
                <a (click)="handleTabChange($event,2)" [ngClass]="{'nav-link':true,active:isTabSelected(2)}"
                    href="#">Specification</a>
            </li>
            <li class="nav-item">
                <a (click)="handleTabChange($event,3)" [ngClass]="{'nav-link':true,active:isTabSelected(3)}"
                    href="#">Reviews</a>
            </li>
        </ul>
        <div *ngIf="isTabSelected(1)">{{product.description}}</div>
        <div *ngIf="isTabSelected(2)">Not Yet</div>
        <div *ngIf="isTabSelected(3)">None Yet</div>
    </div>
</div>